@import 'bootstrap';
@import './admin.scss';
@import './app.scss';

body {
    font-family: 'Nunito', sans-serif !important;
    background: #e9ecef;
    color: #a6a8a8;
}

.custom-btn {
    padding: 0.5rem 2.5rem;
}

.sidebar-content {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.intro {
    margin-top: 3rem;
}

.bcustom-primary {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

.bcustom-primary:hover {
    color: #fff;
}

.modal-wrapper-title {
    background: #3490dc;
    color: #fff;
    font-size: 1rem;
    border-radius: 0;
  }